/* @import url('/fonts/netflix-sans/style.css'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

::-webkit-scrollbar {
  overflow: overlay;
  width: 8px;
}

::-webkit-scrollbar-track {
  display: initial;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-700);
}

:root {
  --color-button-text: #fff;

  --color-accent: #0a84ff;
  --color-accent-hover: #51a8ff;
  --color-accent-disabled: #51a8ff;
  --color-accent-glow: hsla(200, 100%, 50%, 0.063);
  --color-accent-avatar-gradient: linear-gradient(145deg, #0a84ff 0%, #51a8ff 45%, #97c9ff 100%);

  --color-secondary: var(--m2v-red);

  --color-primary-100: #fffefe;
  --color-primary-200: #e5e5e5;
  --color-primary-300: #8594a9;
  --color-primary-400: rgba(255, 255, 255, 0.2);
  --color-primary-500: hsl(215, 30%, 23%);
  --color-primary-600: hsl(215, 24%, 16%);
  --color-primary-700: hsl(217, 30%, 25%);
  --color-primary-800: #1e2838;
  --color-primary-900: #141724;
}

.dTGAUq {
  margin: 0 !important;
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
p.bold {
  font-weight: 700;
}

h1 {
  font-size: 3.85rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

.small {
  font-size: 12px;
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-primary-100);
}

.aspect-default {
  aspect-ratio: 16 / 9;
}

.bg-player {
  transition: 0.1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 0;
}

.bg-player:hover {
  opacity: 1;
}

html,
body,
#__next {
  background-color: var(--color-primary-900);
  color: var(--color-primary-100);
  font-size: 14px;
  height: 100%;
  width: 100%;
  font-family: 'Netflix Sans', 'Helvetica Neue', 'Inter', Helvetica, Arial, sans-serif;
}

#nprogress {
  position: relative;
  z-index: 9999999;
}

*:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

#nprogress .bar {
  background: var(--color-accent);
}
#nprogress .peg {
  box-shadow: 0 0 10px var(--color-accent), 0 0 5px var(--color-accent);
}

#nprogress .spinner-icon {
  border-top-color: var(--color-accent);
  border-left-color: var(--color-accent);
}

.active {
  background-color: var(--color-accent-glow);
}

.listHover:hover svg {
  color: var(--color-accent);
}

.overlay-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
}

.no-drag {
  -webkit-user-drag: none !important;
}

.spinnerCSS {
  border: 3px var(--color-button-text) solid;
  border-top: 3px var(--color-primary-600) solid;
  border-right: 3px var(--color-primary-600) solid;
  border-radius: 50%;
}

.reallySmall {
  font-size: 10px;
  line-height: 1;
}

.l-1 {
  line-height: 1;
}

.hoverDucDog:hover div.h-7.w-7.mr-2.rounded.bg-primary-600.grid.place-items-center {
  background-color: var(--color-primary-800);
}

.dD5d-search {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.1s ease;
}

.dD5d-search:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.4);
}

.dD5d-icon {
  display: none;
}

.dD5d-search:hover .dD5d-icon {
  display: grid;
  place-items: center;
}

.dD5d-input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.dD5d-items::-webkit-scrollbar {
  width: 5px;
}

.dD5d-items::-webkit-scrollbar-thumb {
  background: #9ab1c7;
  border-radius: 4px;
}

.dD5d-items::-webkit-scrollbar-thumb:hover {
  background: #aac4dd;
}

.dD5d-items::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
}

.bg-modal {
  background-color: rgba(0, 0, 0, 0.2);
}

.filmlist-hover:hover {
  color: #d7b350;
}

.invisible-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.invisible-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.invisible-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b3afb3;
}

.filmlist-accent {
  color: #d7b350;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #1b2431;
  font-size: 10px;
}

.swiggle {
  animation: swiggle 400ms forwards ease;
}

@keyframes swiggle {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(0.5rem, 0);
  }
  35% {
    transform: translate(-0.5rem, 0);
  }
  55% {
    transform: translate(0.5rem, 0);
  }
  80% {
    transform: translate(-0.5rem, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.border-input {
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.hover-child .child {
  visibility: hidden;
}

.hover-child:hover .child {
  visibility: visible;
}

.overlay .overlay-child {
  visibility: hidden;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.overlay:hover .overlay-child {
  visibility: visible;
}

.rec-slider-container {
  margin: 0 !important;
}

.status {
  box-shadow: 0px 0px 0px 3.5px var(--status-color);
}

.status {
  --status-color: #747f8d;
}

.status-online {
  --status-color: #43b581;
}

.status-offline {
  --status-color: #747f8d;
}

.status-dnd {
  --status-color: #ed4245;
}

.status-idle {
  --status-color: #faa81a;
}

.aspect-1 {
  aspect-ratio: 1 /1;
}
